body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
header {
  background-color: #333;
  color: white;
  padding: 20px;
}


dialog:jas(dailog)[open] {
  overflow: -y: hidden;
}


nav h1 {
  margin: 0;
}

.about {
  padding: 20px;
  background-color: #fff;
  position: relative;
}

.float-box {
  float: left;
  width: 40%;
  background-color: #cce5ff;
  padding: 10px;
  margin-right: 20px;
}

.text-box {
  overflow: hidden;
}

.between-image {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: auto;
  z-index: 1;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  clear: both;
}
